# Django General Settings
# Generate a secret key for production and keep it secret
SECRET_KEY="django-insecure-93(%&pp1g+tk7^&t0e=sww9&s(v#gnr2_kxlqdv9b7o1^!e_$$"
DEBUG=True
ALLOWED_HOSTS="localhost,127.0.0.1"

# Database connection URL
# Syntax: postgresql://USER:PASSWORD@HOST:PORT/DB_NAME
DATABASE_URL="postgresql://postgres:sairam@localhost:5432/stmarys"

# Security Settings (Recommended to set to True in production with HTTPS)
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

# Comma-separated list of trusted origins for CSRF protection in production
CSRF_TRUSTED_ORIGINS="http://localhost:8000,http://127.0.0.1:8000"
